@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10%;
    color: white;
}

.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.title a:link{
    text-decoration: none;
}

.title a:visited{
    text-decoration: none;
    color: white;
}

.title a:hover { 
    text-decoration: none; 
}

.title a:active { 
    text-decoration: none; 
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 12px 12px;
}

li a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(225, 225, 225);
    letter-spacing: 2px;
    text-decoration: none;
}

.nav-links li a{
    transition: all .3s ease 0;
}

.nav-links li a:hover{
    color: white;
    text-decoration: underline;
}

.SelectionPanel{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mainText{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.citySelector{
    margin-left: 53px;
    margin-top: 15px;
    width: 220px;
}

.button{
    margin-left: 40px;
    padding: .6% .7%;
    margin-top: 15px;
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .short-text {
      display: inline-block;
    }
    .full-text {
        display: none;
      }
  }

  @media only screen and (min-width: 599px) {
    .full-text {
      display: inline-block;
    }
    .short-text {
        display: none;
      }
  }